
<h1>welcome page</h1>
<body>
<div class="row">
	<aside class="span4">
		<% if session.key? :current_user %>
		<h3>Current user:</h3>
		<%= image_tag session[:current_user][:image] %>
		<h3><%= session[:current_user][:avatar] %></h3>
		<h3><%= session[:current_user][:nickname] %></h3>
<%= link_to "Logout", logout_path , method: :delete , class: "btn btn-large btn-primary" %>

		<% else %>
		<%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam' %>
		<% end %>
		</aside>
</div>

<div>
<ul>

</ul>
</div>
</body>